/* File: css/viewer.css v.1.0.0 */
/*
 * Github/Bitbucket Wiki Smarty HTML browser viewer CSS
 *
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    margin: 0;
    padding: 0;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    width:100%;
}
h1, h2, h3, h4{
  margin: 10px 5px; 
  color: rgba(49, 140, 18, 0.9);
}
a{
  color: rgba(49, 140, 18, 0.9);
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
p{
  margin: 10px 10px;
}
pre{
  margin: 10px 10px;
  padding: 5px;
  background-color: rgba(49, 140, 18, 0.1);
  border: 1px solid rgba(49,140,18,0.57);
  border-radius: 5px;
}
strong, em{
  color: rgba(49, 140, 18, 0.9);
}

#header{
  padding: 5px;
  text-align: right;
  
  /*background-color: green;*/
  -webkit-box-shadow: 5px 5px 5px 0px rgba(49,140,18,0.57);
  -moz-box-shadow: 5px 5px 5px 0px rgba(49,140,18,0.57);
  box-shadow: 5px 5px 5px 0px rgba(49,140,18,0.57);
}
#header a, #header i{
  margin: 0 5px;
}

#main{
  margin: 10px 0;
  padding: 5px;
}
#mainIndex, #mainAllWikiPages{
  position: absolute;
  display: none;
  top: 50px;
  right: 10px;
  min-width: 250px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid rgba(49,140,18,0.57);
  border-radius: 5px;
}
#mainAllWikiPages a{
  
}
#mainHTML{
  
}
#mainTXT{
  display: none;
  word-wrap: break-word;
}
#debug{
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 140, 18, 0.1);
  z-index: 2;
}
#debug_content{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 85%;
  height: 85%;
  padding: 15px 10px;
  background-color: #ffffff;
  border: 1px solid rgba(49,140,18,0.57);
  border-radius: 25px;
  z-index: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

#footer{
  padding: 5px;
  text-align: center;
  
  -webkit-box-shadow: -5px -5px 5px 0px rgba(49,140,18,0.57);
  -moz-box-shadow: -5px -5px 5px 0px rgba(49,140,18,0.57);
  box-shadow: -5px -5px 5px 0px rgba(49,140,18,0.57);
}